<!DOCTYPE html>
<html>
	<head>
		<title>Credio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="//use.typekit.net/ppv2dst.js"></script>
		<script type="text/javascript">try{Typekit.load()}catch(e){}</script>
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/font-awesome-ie7.min.css" rel="stylesheet" media="screen">
		<link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
		<link href="css/style.css" rel="stylesheet" media="screen">
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script type="text/javascript"></script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<a class="brand barItem" href="#">
				<img src="/img/credio_logo.svg" >
			</a>
			<ul class="nav pull-right">
				<li>
					<div class="notifications barItem">
						<i class="icon-bolt"></i>
					</div>
				</li>
				<li>
					<div class="messages barItem">
						<i class="icon-envelope"></i>
					</div>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img class="userImage" src="<%= user.json.profile_image_url %>" >
						<div class="notImg">
							<div class="name"><%= user.json.name %></div>
							<div class="balance total"><%= user.json.balance %></div>
						</div>
					</a>
					<b class="caret"></b>
					<ul class="dropdown-menu">
						<!-- Dropdown here -->
					</ul>
				</li>
			</ul>
		</div>
		<div class="content">
			<%- content %>
		</div>
		<div class="footer">
			<p>© Credio 2013</p>
		</div>
	</body>
</html>