<div class="video" >
	<!-- video -->
</div>
<div class="stats">
	<div class="performance">
		<div class="title">PERFORMANCE</div>
		<div class="info down">10%</div>
	</div>
	<div class="investment">
		<div class="title">ORIGINAL INVESTMENT</div>
		<div class="info">
			<span class="shares">10</span>SHARES <span class="share">x ¢30</span>/SHARE = <span class="total">¢300</span>
		</div>
	</div>
	<div class="worth">
		<div class="title">CURRENT WORTH</div>
		<div class="info">
			<span class="share">¢27</span>/SHARE = <span class="total">¢270</span>
		</div>
	</div>
</div>
<div class="graphContainer">
	<div class="buttonBar">
		<div id="performance" class="button">
			<img class="active" src="/img/chart-active.svg">
			<div class="caption active">PERFORMANCE</div>
		</div>
		<div id="reach" class="button">
			<img class="inactive" src="/img/reach-inactive.svg">
			<div class="caption">REACH</div>
		</div>
	</div>
	<div class="graphs">
		
	<div>
	<script type="text/javascript" src="/js/content.js"></script>
</div>
