<div class="video" >
	<iframe width="640" height="360" src="http://www.youtube.com/embed/BoEKWtgJQAU?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</div>
<div class="stats">
	<div class="performance">
		<div class="title">PERFORMANCE</div>
		<div class="info down">10%</div>
	</div>
	<div class="investment">
		<div class="title">ORIGINAL INVESTMENT</div>
		<div class="info">
			<span class="shares">10</span>SHARES <span class="share">x ¢30</span>/SHARE = <span class="total">¢300</span>
		</div>
	</div>
	<div class="worth">
		<div class="title">CURRENT WORTH</div>
		<div class="info">
			<span class="share">¢27</span>/SHARE = <span class="total">¢270</span>
		</div>
	</div>
</div>
<div class="spacer"></div>
<div class="graphContainer">
	<div class="buttonBar">
		<div id="performance" class="button">
			<img class="active" src="/img/chart-active.svg">
			<div class="caption active">PERFORMANCE</div>
		</div>
		<div id="reach" class="button">
			<img class="inactive" src="/img/reach-inactive.svg">
			<div class="caption">REACH</div>
		</div>
	</div>
	<div class="spacer"></div>
	<div class="graphs">
		<div id="chart_div" style="width: 100%; height: 500px;"></div>
	</div>
		
	<script type="text/javascript" src="/js/content.js"></script>

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var dataTable = new google.visualization.DataTable();
	      dataTable.addColumn('date', 'time');
	      dataTable.addColumn('number', 'worth');
	      dataTable.addRows([
					[new Date(1370926800000),{v:200, f:"¢200"}],
					[new Date(1369890000000),{v:97, f:"¢97"}],
					[new Date(1368853200000),{v:63, f:"¢63"}],
					[new Date(1367816400000),{v:38, f:"¢38"}],
					[new Date(1366779600000),{v:20, f:"¢20"}],
					[new Date(1365742800000),{v:9, f:"¢9"}],
					[new Date(1364706000000),{v:2, f:"¢2"}],
					[new Date(1363669200000),{v:1, f:"¢0.09"}],
					[new Date(1362632400000),{v:0, f:"¢0.00"}]
	      ]);

      	var dataView = new google.visualization.DataView(dataTable);

        var options = {
          title: 'Video Worth'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(dataView, options);
      }
    </script>

</div>
