<style type="text/css">
	.navbar {
		background-color: transparent;
	}
	.content {
		margin-top: 0;
	}
</style>
<div id="banner">
	<div id="overlay">
		<div id="title">CRED.IO</div>
		<div id="sub">Reward yourself for seeing it first.</div>
	</div>
</div>
<div class="spacer2"></div>