body {
	font-family: "proxima-nova";
	color: #444444;
}

.content {
	margin-top: 50px;
	overflow: auto;
}

.video {
	width: 100%;
}

.stats {
	height: 60px;
	border: 1px #444 solid;
	text-align: center;
}

.stats > div {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

.buttonBar {
	height: 60px;
	border: 1px #444 solid;
	text-align: center;
}

.buttonBar > div {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.caption {
	color: #9C9C9C;
}

.active {
	color: #444444;
}

.button {
	margin-top: 15px;
	margin-bottom: 15px;
}

.title {
	font-size: 14px;
	font-weight: bold;
}

.down {
	font-size: 24px;
	font-weight: 800;
	color: #ED135A;
}

.down:before {
	content: ' ';
	font-family: 'FontAwesome';
	color: #444444;
}

.total {
	font-size: 24px;
	font-weight: 800;
	color: #00ADEF;
}

.share,
.shares {
	font-size: 24px;
	font-weight: 800;
}

.spacer {
	background-image: url('/img/halftone.jpg')
	background-repeat: repeat;
	width: 100%
	height: 10px;
}