body {
	font-family: "proxima-nova";
	font-size: 14px;
	color: #444444;
}

.content {
	margin-top: 50px;
	overflow: hidden;
}

.video {
	width: 100%;
}

.stats {
	padding: 15px;
	border: 1px #444 solid;
	text-align: center;
}

.stats > div {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

.buttonBar {
	padding: 15px;
	border: 1px #444 solid;
	text-align: center;
}

.buttonBar > div {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.caption {
	color: #9C9C9C;
	font-weight: bold;
}

.active {
	color: #444444;
}

.title {
	font-size: 14px;
	font-weight: bold;
}

.down {
	font-size: 24px;
	font-weight: 800;
	color: #ED135A;
}

.down:before {
	content: ' ';
	font-family: 'FontAwesome';
	color: #444444;
}

.total {
	font-size: 24px;
	font-weight: 800;
	color: #00ADEF;
}

.share,
.shares {
	font-size: 24px;
	font-weight: 800;
}

.spacer {
	background-image: url('/img/halftone.jpg');
	background-repeat: repeat;
	width: 100%;
	height: 10px;
}

.spacer2 {
	background-image: url('/img/halftone.jpg');
	background-repeat: repeat;
	width: 100%;
	height: 20px;
}

.userImage {
	width: 30px;
	border-radius: 15px;
	border: 1px #00ADEF solid;
	margin-right: 5px;
}

.dropdown-toggle > div{
	display: inline-block;
}

.barItem {
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.name {
	max-height: 20px;
	max-width: 112px;
	overflow: hidden;
}

.barItem {
	border-left: 1px #444 solid;
}

.messages {
	border-right: 1px #444 solid;
}

.profile {
	width: 150px;
}

.userImage,
.notImg {
	float: left;
}

.navbar .brand {
	text-align: center;
	width: 50px;
	border-right: 1px #444 solid;
	padding-right: 0;
}

.navbar {
	background-color: white;
	border-bottom: 1px #444 solid;
}

#sign {
	height: 40px;
	font-size: 14px;
	color: white;
	background-color: #00ADEF;
	border-radius: 3px;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 5px;
	margin-right: 5px;
}

#banner {
	background-image: url('/img/crowd.jpg');
	background-position: center;
	width: 100%;
	height: 650px;
}

#overlay {
	background-color: rgba(0, 173, 239, 0.6);
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
}

#title {
	padding-top: 220px;
	font-size: 85px;
	font-weight: bold;
	padding-bottom: 75px;
	opacity: 1;
}

#sub {
	opacity: 1;
	font-size: 32px;
}